/*--------MAIN--------*/

.titulo-principal{
    color: var(--clr-main);
    margin-bottom: 2rem;
}

.contenedor-productos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.producto-imagen {
    max-width: 100%;
    border-radius: 1rem;
}

.producto-detalles{
    background-color: var(--clr-main);
    color: var(--clr-blanco);
    padding: .5rem;
    border-radius: 1rem;
    margin-top: -2rem;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: .25rem;
    }

.producto-titulo {
    font-size: 1rem;
}

.producto-agregar{
    border: 0;
    background-color: var(--clr-blanco);
    color: var(--clr-main);
    padding: .4rem;
    text-transform: uppercase;
    border-radius: 2rem;
    cursor: pointer;
    border: 2px solid var(--clr-blanco);
    transition: background-color .2s, color .2s;
}

.producto-agregar:hover{
    background-color: var(--clr-main);
    color: var(--clr-blanco);
}
/*--------FIN MAIN--------*/

/*--------CONTACTO--------*/

/*--------FIN CONTACTO--------*/

/*--------FOOTER--------*/

.texto-footer{
    color: var(--clr-gris);
    font-size: .85rem;
}

/*--------FIN FOOTER--------*/